p = @question.body

h2 Answers
p => link_to 'New anwer', new_admin_question_answer_path(@question)

ol
  = render @question.answers


=> link_to 'Edit', edit_admin_question_path(@question)
'|
=< link_to 'Back', admin_test_path(@question.test)