.pointer {
  cursor: pointer;
}


.hide {
  display: none;
}


.fail-icon {
  background-color: red;
}

.success-icon {
  background-color: green;

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e4e7ea;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.greeting {
  text-align: right;
  margin-right: 10px;
}

#timer {
  text-align: center;
  background-color: cadetblue;
  font-size: x-large;
  border: 1px solid;
  border-color: #666666;
}