// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.result-fail {
  text-align: -webkit-center;
}
.result-success {
  text-align: -webkit-center;
}
.badge-fail {
  width: 200px;
  height: 50px;
  padding: 50px;
  background-color: red;
  border-radius: 5px;

}